.dash-card-acc-req-list {
  /* margin: 0 4.8rem 0 4.8rem; */
  /* width: 50%; */
}

.dash-header-title {
  font-size: 1.8rem;
  margin: 0.8rem 0 1.6rem 0;
  color: #33a95b;
  font-weight: 600;
}

.dash-acc-req-scroll-container {
  overflow: auto;
  /* height: 15rem; */
}

.dash-request-list-container {
  font-size: 1.4rem;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.dash-request-list-container th {
  text-align: left;
  font-weight: normal;
  background-color: #f9fbfc;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-top: 0.03rem solid #606060;
  border-bottom: 0.03rem solid #606060;
}

.dash-request-list-container td {
  border-bottom: 0.02rem solid #777777;
  padding: 0.5rem 0 0.5rem 0;
}

.dash-request-list-container tr:hover {
  background-color: #f9fbfc;
  color: black;
}

.dash-request-list-container a {
  text-decoration: none;
  color: inherit;
}

.dash-acc-req-btn {
  text-align: center;
  margin-top: 1.2rem;
}

.dash-acc-req-btn button {
  height: 2.8rem;
  width: 7.6rem;
  font-size: 1.2rem !important;
}
